<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1 th:text="${libro.title}">Titulo del libro</h1>

<h4 th:text="'Descripcion: ' + ${libro.description}">Descripcion: aca va la descripcion</h4>

<h4 th:text="'Lenguaje: ' + ${libro.lenguage}">Lenguaje: aca va el lenguaje</h4>

<h4 th:text="'Cantidad de paginas: ' + ${libro.numberOfPages}"></h4>

<a th:href="@{/books/edit/{id}(id=${libro.id})}">Editar el libro</a>
<br>
<form th:action="@{/books/{id}(id=${libro.id})}" method="post" onsubmit="return confirm('¿Estás seguro de que quieres eliminar este libro?')">
    <input type="hidden" name="_method" value="delete" />
    <input type="submit" value="Eliminar" />
</form>

<br>
<a href="/books">Volver al inicio</a>
</body>
</html>
