<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
</head>
<body>

<div class="container p-2">

    <h1>Ninja Gold</h1>

    <p>
        Your Gold: <span class="text-success" th:text="${gold}"></span>
    </p>

    <div class="row">

        <div class="card col mx-2">
            <form action="/gold" method="post">
                <h2>Farm </h2>
                <p> {earns 10-20 gold} </p>

            <input type="hidden" name="lugar" value="farm">

            <button type="submit" class="btn btn-info">GOLD!</button>
            </form>

        </div>



        <div class="card col mx-2">
            <fomr action="">
                <h2>Cave</h2>
                <p> {earns 5-10 gold} </p>

            <input type="hidden" name="lugar" value="farm">

            <button type="submit" class="btn btn-info">GOLD!</button>
            </fomr>

        </div>

        <div class="card col mx-2">
            <fomr action="">
                <h2>House</h2>
                <p> {earns 2-5 gold} </p>

            <input type="hidden" name="lugar" value="farm">

            <button type="submit" class="btn btn-info">GOLD!</button>
            </fomr>

        </div>

        <div class="card col mx-2">
            <fomr action="">
                <h2>Casino!</h2>
                <p> {earns 0-50 gold} </p>

            <input type="hidden" name="lugar" value="farm">

            <button type="submit" class="btn btn-info">GOLD!</button>
            </fomr>

        </div>
    </div>

</div>

</body>
</html>